#!/usr/bin/make -f
# -*- Makefile -*-

include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_autoreconf:
	touch AUTHORS NEWS ChangeLog
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure
	dh_auto_configure --sourcedirectory=perl/Shellinford -- LIBS='-L/usr/lib -L../../src/.libs -lshellinford' INC='-I/usr/include -I../../src'

override_dh_auto_build:
	dh_auto_build -- CXXFLAGS+=-g
	dh_auto_build --sourcedirectory=perl/Shellinford

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/shellinford-utils/usr/bin
	cp -p sample/.libs/* debian/shellinford-utils/usr/bin
	dh_auto_install --sourcedirectory=perl/Shellinford --destdir=debian/libshellinford-perl
	find debian/libshellinford-perl/usr/lib -name search_fm_index.pl | xargs rm -f

override_dh_auto_clean:
	dh_auto_clean
	-cd perl/Shellinford && make realclean
	-rm -f AUTHORS NEWS ChangeLog

override_dh_auto_test:
